.container {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.header {
    text-align: center;
    font-size: 1.7em;
}

.header__title {
    margin-top: 0;
}

.header__avatar {
    max-width: 20%;
}

.header__text {
    font-style: italic;
}

.header__menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.header__menu-item {
    padding-left: 20px;
    text-decoration: underline;
    text-decoration-color: red;
}

.skills__inner {
    margin: 0 auto;
}

.skills__about {
    display: flex;
    align-items: center;
}

.skills__title {
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.skills__text {
    font-size: 16px;
}

.footer__title {
    font-size: 24px;
}
